objs/
compile/
.idea/
.ycm_extra_conf.py
cmake-build-debug
*.suo
Debug/algorithm.obj
*.obj
*.log
*.tlog
Debug/vc140.idb
*.pdb
template_pratice.VC.db
*.opendb
.vscode
/algorithm/src/Debug
/sort/src/Debug
/questions/src/Debug
/Debug
*.db
*.filters
*.user
